/E3_Convertidor/nbproject/private/
/E3-Convertidor/nbproject/private/
/E6-Calculadora/nbproject/private/
/E6-Calculadora/build/
/E3-ConvertidorN/nbproject/private/
/E3-ConvertidorN/build/
/E3-ConvertidorN/dist/
/Subneteo/nbproject/private/
/Subneteo/build/
/aaaa/nbproject/private/
/aaaa/build/